.tasks-wrap {
    width: 400px;
    margin-top: 30px;
  }
.task {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 7px 10px;
    background: rgba(255,255,255, .35);
    border-radius: 5px;
    letter-spacing: .5px;
    transition: all .25s ease;
    &:hover {
        background: linear-gradient(to right, rgba(123, 123, 148, 0.15), rgba(220, 220, 247, 0.35));
        cursor: pointer;
    }
}

.amount {
    text-align: center;
}

.task-done {
    opacity: .5;
}

.action-btn {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}